<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Line Awesome --> 
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-brand">
        <h1><span class="lab la-accusoft"></span> Medicine</h1>
      </div>
      <div class="sidebar-menu">
        <ul>
          
          <li>
            <a href="#"
              ><span class="icon"><i class="fa-solid fa-business-time"></i></span>
              <span>Cảnh báo hạn sử dụng</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><span class="icon"><i class="fa-solid fa-user"></i></span>
              <span>Quản lý người dùng</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><span class="icon"><i class="fa-solid fa-parachute-box"></i></span>
              <span>Quản lý lô thuốc</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><span class="icon"><i class="fa-solid fa-tablets"></i></span>
              <span>Quản lý thuốc</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><span class="icon"><i class="fa-regular fa-money-bill-1"></i></span>
              <span>Quản lý hóa đơn</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><span class="icon"><i class="fa-solid fa-users"></i></span>
              <span>Quản lý khách hàng</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content Area -->
    <div class="content">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Quản lý voucher</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <button class="btn btn-exit" type="button">Đăng xuất</button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <div class="container">
            <div class="mb-3 text-end">
                <button
                  class="btn btn-custom"
                  data-bs-toggle="modal"
                  data-bs-target="#addModal"
                >
                  Thêm voucher
                </button>
              </div>
      
              <!-- Bảng Lô Thuốc -->
              <table class="table" id="medicine-table">
                <thead>
                  <tr>
                    <th>Mã voucher</th>
                    <th>ngày bắt đầu</th>
                    <th>ngày kết thúc</th>
                    <th>Giá trị giảm(%)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Dữ liệu lô thuốc sẽ hiển thị tại đây -->
                  <tr>
                    <td>SALE50</td>
                    <td>15/12/2024</td>
                    <td>20/12/2024</td>
                    <td>50</td>
                    <td><button class="handle-xoavoucher">Xóa</button></td>
                  </tr>
                  <tr>
                    <td>NEWYEAR30</td>
                    <td>25/12/2024</td>
                    <td>05/01/2025</td>
                    <td>30</td>
                    <td><button class="handle-xoavoucher">Xóa</button></td>
                  </tr>
                  <tr>
                    <td>TET100K</td>
                    <td>10/01/2025</td>
                    <td>30/01/2025</td>
                    <td>30</td>
                    <td><button class="handle-xoavoucher">Xóa</button></td>
                  </tr>
                  <tr>
                    <td>FREESHIP2024</td>
                    <td>01/12/2024</td>
                    <td>31/12/2024</td>
                    <td>20</td>
                    <td><button class="handle-xoavoucher">Xóa</button></td>
                  </tr>
                  <tr>
                    <td>FLASH20</td>
                    <td>20/12/2024</td>
                    <td>20/12/2024</td>
                    <td>15</td>
                    <td><button class="handle-xoavoucher">Xóa</button></td>
                  </tr>
                  
                  </tr>
                  <!-- Các dòng dữ liệu khác sẽ được thêm vào tương tự -->
                </tbody>
              </table>
            </div>
      
            <!-- Modal Thêm Lô Thuốc -->
            <div
              class="modal fade"
              id="addModal"
              tabindex="-1"
              aria-labelledby="addModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header text-end mb-3">
                    <h5 class="modal-title" id="addModalLabel">Thêm voucher</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="medicineName" class="form-label"
                          >Mã voucher</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="medicineName"
                          placeholder="Mã voucher"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="quantity" class="form-label">ngày bắt đầu</label>
                        <input
                          type="date"
                          class="form-control"
                          id="medicineName"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="quantity" class="form-label">Ngày kết thúc</label>
                        <input
                          type="date"
                          class="form-control"
                          id="medicineName"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="quantity" class="form-label">Giá trị giảm(%)</label>
                        <input
                          type="text"
                          class="form-control"
                          id="medicineName"
                          placeholder="Giá trị giảm(%)"
                          required
                        />
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Đóng
                    </button>
                    <button type="button" class="btn btn-primary">Lưu</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>