<link rel="stylesheet" href="/css/sidebar.css" />
<div class="sidebar">
  <div class="sidebar-brand">
    <h1><span class="lab la-accusoft"></span> Medicine</h1>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="/canhbao"
          ><span class="icon"><i class="fa-solid fa-business-time"></i></span>
          <span>Cảnh báo hạn sử dụng</span>
        </a>
      </li>
      <li>
        <a href="/nguoidung"
          ><span class="icon"><i class="fa-solid fa-user"></i></span>
          <span>Quản lý người dùng</span>
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="icon"><i class="fa-solid fa-parachute-box"></i></span>
          <span>Quản lý lô thuốc</span>
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="icon"><i class="fa-solid fa-tablets"></i></span>
          <span>Quản lý thuốc</span>
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="icon"><i class="fa-regular fa-money-bill-1"></i></span>
          <span>Quản lý hóa đơn</span>
        </a>
      </li>
      <li>
        <a href="/khachhang"
          ><span class="icon"><i class="fa-solid fa-users"></i></span>
          <span>Quản lý khách hàng</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa-solid fa-cash-register"></i></span>
          <span>Bán hàng</span>
        </a>
      </li>
      <li>
        <a href="/magiamgia">
          <span class="icon"><i class="fa-solid fa-tags"></i></span>
          <span>Quản lý mã giảm giá</span>
        </a>
      </li>
    </ul>
  </div>
</div>
