.container {
  margin-top: 30px;
}
.modal-header,
.modal-footer {
  background-color: #f1f1f1;
}

table th,
table td {
  text-align: center; /* Căn giữa nội dung */
  vertical-align: middle; /* Căn giữa theo chiều dọc */
  padding: 15px; /* Tăng khoảng cách trên và dưới */
}

table th {
  background-color: #f8f9fa; /* Màu nền header */
}
