:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

.btn-exit {
  background-color: #007bff; /* Màu xanh dương */
  color: white; /* Màu chữ trắng */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-exit:hover {
  background-color: #0056b3;
  color: white;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar Style */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #343a40;
  color: white;
}

.sidebar-brand {
  padding: 20px;
  background-color: #212529;
  font-size: 24px;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-menu a:hover {
  background-color: #495057;
}

.sidebar-menu .icon {
  margin-right: 10px;
}

/* Content Area */
.content {
  margin-left: 250px;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

/* Responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .content {
    margin-left: 0;
  }
}

/* Sidebar Brand */
.sidebar-brand {
  padding: 20px;
  background-color: #212529;
  font-size: 24px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 80px; /* Bạn có thể điều chỉnh chiều cao của thanh bên này */
}

.sidebar-brand h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.sidebar-brand .lab {
  margin-right: 10px; /* Khoảng cách giữa logo và chữ */
  font-size: 30px; /* Điều chỉnh kích thước của logo */
}

.handle-phanquyen {
  background-color: #28a745; /* Màu xanh lá */
  color: white; /* Chữ màu trắng */
  border: none; /* Xóa viền */
  padding: 10px 20px; /* Thêm khoảng cách xung quanh chữ */
  border-radius: 12px; /* Bo góc nút */
  cursor: pointer; /* Hiển thị con trỏ chuột là hình bàn tay */
  font-size: 16px; /* Kích thước chữ */
  margin-top: 0px;
}
.handle-phanquyen:hover {
  background-color: #218838; /* Màu xanh lá đậm khi di chuột */
}

.container {
  margin-top: 30px;
}
.table th,
.table td {
  text-align: center;
}
.btn-custom {
  background-color: #28a745;
  color: white;
}
.btn-custom:hover {
  background-color: #218838;
  color: white;
}
.modal-header,
.modal-footer {
  background-color: #f1f1f1;
}

/* Login */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.login {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/login.jpg");
  background-size: cover;
}

.glass-container {
  width: 350px;
  height: 370px;
  position: relative;
  z-index: 1;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #fff;
}

.glass-container:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}

.glass-container::before {
  container: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

.glass-container:focus-within {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}

.login-box {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #fff;
  margin-top: 25px;
  margin-bottom: -20px;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 250px;
}

.login-ip {
  padding: 15px;
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
}

.login-ip::placeholder {
  color: #fff;
}

.login-ip:focus {
  outline: none;
}

.options {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 12px;
  color: white;
}

.options .login-ip {
  margin-right: 5px;
  margin-top: 0px;
}

.options .ghinho {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 4px;
}

.submit {
  background: #fff;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

button:hover {
  background: transparent;
  color: white;
  outline: 1px solid #fff;
}

.form-control {
  width: 185%;
}

.handle-chitiet {
  background-color: #28a745; /* Màu xanh lá */
  color: white; /* Chữ màu trắng */
  border: none; /* Xóa viền */
  padding: 10px 20px; /* Thêm khoảng cách xung quanh chữ */
  border-radius: 12px; /* Bo góc nút */
  cursor: pointer; /* Hiển thị con trỏ chuột là hình bàn tay */
  font-size: 16px; /* Kích thước chữ */
  margin-top: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  text-align: center; /* Căn giữa nội dung */
  vertical-align: middle; /* Căn giữa theo chiều dọc */
  padding: 15px; /* Tăng khoảng cách trên và dưới */
}

table th {
  background-color: #f8f9fa; /* Màu nền header */
}

.btn {
  margin: 0 auto;
}

.table {
  margin-top: 20px; /* Thêm khoảng cách trên bảng */
}

.modal-title {
  margin-left: 100px;
}

/*HSD*/
.container-hsd {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container-hsd {
  max-width: 670px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #ff4d4d;
}

.medicine-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.hsd {
  padding: 10px;
  font-size: 16px;
  margin-top: -8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  width: 625px;
}

.btn-hsd {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 625px;
}

.btn-hsd:hover {
  background-color: #ff3333;
}

#warning-message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

#warning-message.expired {
  background-color: #ffcccc;
  color: #ff0000;
}

#warning-message.safe {
  background-color: #ccffcc;
  color: #008000;
}

.hidden {
  display: none;
}

/* USER*/
.btn-user {
  background-color: #28a745;
  color: white;
}

.btn-user:hover {
  background-color: #28a745;
  color: white;
}

/*add user*/

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #343a40;
  color: #fff;
  padding-top: 20px;
}
.sidebar .sidebar-brand {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar-brand h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.sidebar .sidebar-menu {
  margin-top: 20px;
}
.sidebar .sidebar-menu ul {
  list-style: none;
  padding: 0;
}
.sidebar .sidebar-menu ul li {
  padding: 15px 20px;
}
.sidebar .sidebar-menu ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.sidebar .sidebar-menu ul li a .icon {
  margin-right: 10px;
}
.sidebar .sidebar-menu ul li a:hover {
  background: #495057;
}
.content {
  margin-left: 250px;
  padding: 20px;
}
header .navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table th,
.table td {
  vertical-align: middle;
}
.btn-user {
  background-color: #007bff;
  color: #fff;
}
.btn-user:hover {
  background-color: #0056b3;
}
.btn-exit {
  background-color: #dc3545;
  color: #fff;
}
.btn-exit:hover {
  background-color: #c82333;
}
